modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/zynum exec vite --config vite.config.ts --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18533
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ASHTECHPAY_API_KEY = "ak_6fa1a9048fd07c52a4aedab2eb14d57399f5c50e62476a17"
API_BASE_URL = "https://zynum.net"
SUPABASE_DATABASE_URL = "postgresql://postgres.tkaadzqmpjgsavmbibja:o9tgN6oyhDQnlEZg@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"
NODE_ENV = "production"
TELEGRAM_BOT_TOKEN = "8599037292:AAG45XW9tFF4LJqVNZrF4lovtOavU3e5y-w"
RESEND_API_KEY = "re_5e959QQt_K42BXxZcq1p24SUFz575WDpP"
RESEND_FROM_EMAIL = "noreply@zynum.net"
SENDAVAPAY_SDK_KEY = "sdk_UdliGtXwaCzvJw4m93K2Ik6OK9D56n0H"
SENDAVAPAY_WEBHOOK_SECRET = "whsec_fe77118b598a921732fc64b563c9073d9538cb1eeb2b90de"
ADMIN_EMAIL = "pagetstudio@gmail.com"
ADMIN_PASSWORD = "AAbb11##"
