modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18533
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPABASE_DATABASE_URL = "postgresql://postgres.tkaadzqmpjgsavmbibja:o9tgN6oyhDQnlEZg@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"
FIVE_SIM_KEY = "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MTIwMjgzNzgsImlhdCI6MTc4MDQ5MjM3OCwicmF5IjoiOWNlYzY1ZDA1ODJhYjIyNTM1YzVlZDcyNWE1NzVjMzEiLCJzdWIiOjM4NjE4MDl"
FIVESIM_API_KEY = "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MTIwMjgzNzgsImlhdCI6MTc4MDQ5MjM3OCwicmF5IjoiOWNlYzY1ZDA1ODJhYjIyNTM1YzVlZDcyNWE1NzVjMzEiLCJzdWIiOjM4NjE4MDl"
